<h1 mat-dialog-title>Hi I'm adit dialog you have todo me</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field style="display: block ">
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Color" style="display: block ">
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions style="float: right ">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="color" cdkFocusInitial>Ok</button>
</div>
