<h1 mat-dialog-title>Hi I'm delete dialog you have todo me</h1>
<div mat-dialog-content>
  Are you shure want to delete item?
</div>
<div mat-dialog-actions style="float: right ">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="color" cdkFocusInitial>Delete</button>
</div>
